.moviepage-container {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: blue;
}

.bandeau-container {
  padding-left: 5rem;
}

.bandeau {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;

  .bandeau-noinfo {
    width: 10vw;
  }

  .bandeau-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40vw;

    div {
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.bandeau-note {
        flex-direction: column;
      }
    }
  }

  .bandeau-bg {
    background-color: rgba(0, 0, 0, 0.308);
    width: 100%;

    p {
      display: block;
    }
  }

  .tiny-votecount {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .moviepage-container {
    margin: 0;
  }

  .bandeau-container {
    padding: 0;
    font-size: 0.8rem;
  }

  .bandeau {
    .bandeau-noinfo {
      order: 1;
      width: 0;
    }
    .bandeau-info {
      width: 50vw;
    }
    p {
      font-size: 1rem;
    }
  }
}
