.slider-container {
  width: 28%; /* Ajustez la taille du conteneur selon vos besoins */
  display: flex;
}

.slider-container p {
  color: white;
  width: 9rem;
  margin-top: 0.3rem;
}

.horizontal-slider {
  width: 100%;
  height: 25px;
  margin-top: 0.25rem;
}

.thumb {
  height: 25px;
  width: 25px;
  background-color: var(--button-color);
  cursor: grab;
  text-align: center;
  border-radius: 5px;
}

.track {
  top: 0;
  bottom: 0;
  background: var(--background-card-color);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .slider-container {
    width: 88%;
  }

  .slider-container p {
    width: 10rem;
  }

  .thumb {
    width: 20px;
    height: 20px;
  }

  .horizontal-slider {
    height: 20px;
  }
}
